{% extends "base.html" %}

{% block content %}
<style>
    body, html {
    width: 2000px;
    height: 100%;
    margin:0;
    padding: 0;
} 
</style>
<body>
    <div class="box">
            <div class="image"></div>
            
            <div class="fountain"></div>
            
            <div class="corkboard"> </div>
            
            <div class="innerframe"></div>
            <div class ="frame"></div>
            
            <div class="innerframe1"></div>
            <div class ="frame1"></div>
            
            <div class="innerframe2"></div>
            <div class ="frame2"></div>
            
            <div class="innerframe3"></div>
            <div class="innerframe4"></div>
            <div class ="frame3"></div>
            
            <div class ="frame4"></div>
            
            
            <div class="plant"></div>
            <div class="plant1"></div>
            <div class="plant2"></div>
            
            <div class="poster"></div>
            <div class="jasmine"></div>
        </body>

    <!-- <ul>
        {% for blog in posted_blogs %}
        <li>
            <h1 style='text-decoration: underline'>
                <a href="/blog?id={{ blog.id }}">{{blog.title}}</a>
                </h1>
            <p>{{blog.body}}</p>
        </li>
        {% endfor %}
    </ul> -->

{% endblock %}