{% extends 'base.html' %}

{% block content %}    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <br><br>
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add a Story</h1>
    <!--  form action needs to match the url you want it to go to after submit -->
    <form action="/newpost" method='POST'>

        <p class="flash">
        
        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category,message in messages %}
                <li class="{{category}}">{{message}}</li>
            {% endfor %}
            </ul>
        {% endwith %}

        </p>

        <label>
            <span class="form_label">Name of the person who inspired you:</span>
            <input name="blog_title" type="text" value="{{post_title}}">
        </label>
        <br>
            <span class="form_label">How they shaped your life:</span><br>
            <textarea name="blog_post" type="textarea" rows="10">{{post_entry}}</textarea>
        </label>
        <br>
        <input class="submit" type="submit" value="Add Entry" />
    </form>

{% endblock %} 